<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Sickle</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <header>
            <nav>
                <a href='/'>Sickle: Harvest Wage Balance Viewer</a>
            </nav>
        </header>
        <main role="main">
            <%= yield %>
        </main>
    </body>
</html>
